* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: map-get($colores, titulo);
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: map-get($colores, secundario);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #281644;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 4, 61);
}

body {
    background-color: map-get($colores, secundario);
    font-family: $font-principal, sans-serif;
    grid-gap: 20px;
    height: 100%;

    .navegacion {
        grid-column: col-start 2 / span 14;
        grid-row: row-start 1 / span 1;
        background-color: map-get($colores, secundario);
        border-bottom: 0.1rem solid map-get($colores, primario);
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    a {
        margin-right: 0.5rem;
    }

    footer {
        grid-column: col-start 2 / span 14;
        grid-row: row-start 12;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem
    }

    #indexcards {
        min-height: 70vh;

    }

    .gridc {
        display: grid;
        grid-template-columns: repeat(16, [col-start] 1fr);
        grid-template-rows: repeat(12, [row-start] 1fr);
        grid-gap: 20px;


    }

    .tapa {
        width: 12rem;
        margin: 0.5rem;
        border-radius: 1rem;
        box-shadow: 8px 8px 0 -3px map-get($colores, secundario), 8px 8px 0 -1px map-get($colores, primario);
    }

    .tapaRedonda {
        width: 12rem;
        height: 12rem;
        border-radius: 10rem;
        box-shadow: 8px 8px 0 -3px map-get($colores, secundario), 8px 8px 0 -1px map-get($colores, primario);
    }

    .tapaChica {
        width: 10rem;
        height: 10rem;
    }
}